.header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.header-container {
  background-color: var(--quaternary-color);
  display: flex;
  flex-direction: row;
  width: 360px;
}

.header-logo {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  margin-left: 10px;
  width: 260px;
}

.header-logo-img {
  width: 60px;
}

.header-logo-name {
  color: var(--quintenary-color);
  font-family: var(--logo-name);
  font-size: 32px;
  margin: 5px 0  0 10px;
  width: 140px;
}

.page-title {
  color: var(--tertiary-color);
  font-family: var(--title-font);
  font-size: 40px;
  margin: 10px;
}

.header-btn {
  background-color: transparent;
  border-style: none;
  margin: 10px;
}

.page-icon {
  margin-top: 30px;
  width: 50px;
}

.search-bar-wrapper {
  align-items: center;
  background-color: var(--quintenary-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 330px;
}

.search-input {
  background-color: var(--primary-color);
  border: 2px solid var(--quintenary-color);
  border-radius: 10px;
  padding: 5px;
  width: 328px;
}

.search-radio-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.search-label {
  color: var(--quaternary-color);
  margin: 3px;
}

.search-radio-btn {
  accent-color: var(--tertiary-color);
}

.search-btn {
  background-color: var(--primary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 10px;
  width: 290px;
}

.search-btn:hover {
  background-color: var(var(--tertiary-color));
  cursor: pointer;
}
