@keyframes background {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.login-wrapper {
  align-items: center;
  animation: background 6s ease infinite;
  background
  : linear-gradient(45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  background-size: 200% 200%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  width: 100%;
}

.logo-login {
  width: 230px;
}

.logo-name {
  color: #4eaad4;
  font-family: var(--logo-name);
  font-size: 50px;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-input {
  border: 1px solid var(--quaternary-color);
  border-radius: 3px;
  color: var(--quaternary-color);
  line-height: 25px;
  margin: 4px;
  padding: 10px;
}

.login-button {
  border-radius: 4px;
  border-style: none;
  color: var(--primary-color);
  line-height: 35px;
  margin-top: 20px;
}

.login-button:disabled {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.login-button:enabled {
  background-color: var(--quaternary-color);
  cursor: pointer;
}
