.progress-wrapper {
  height: 620px;
  width: 360px;
}

.progress-title {
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
}

.image-background {
  align-items: center;
  background-blend-mode: multiply;
  background-color: darkgray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 200px;
}

.image-background h1 {
  align-self: center;
  font-family: var(--title-font);
  grid-column: 2/ 3;
  justify-self: center;
  margin-bottom: 0;
}

.category-title {
  align-self: center;
  color: var(--primary-color);
  display: grid;
  grid-column: 1 / span 2;
  grid-template-columns: 45px 90px 90px 45px;
  margin: 10px 0 0 10px;
  text-transform: uppercase;
}

.category-title h4 {
  align-self: center;
  font-family: sans-serif , Epilogue;
  font-size: 16px;
  font-weight: 700;
  grid-column: 2 / span 3;
  margin: 0;
}

.instructions h4 {
  margin: 20px 0 4px 22px;
}

.margin-text {
  margin: 20px 0 4px 22px;
}

.subsection {
  border: 1px solid lightgrey;
  border-radius: 12px;
  list-style: none;
  margin: auto;
  margin-bottom: 40px;
  padding: 9px;
  width: 340px;
}

.ing-list {
  border: 1px solid lightgrey;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: auto;
  margin: auto;
  padding: 9px;
  width: 340px;
}

.label-ingredient {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1em auto;
}

.fixed-btn-pos {
  background-color: var(--secondary-color);
  border: none;
  bottom: 0;
  color: white;
  font-family: var(--title-font);
  font-size: 32px;
  height: 60px;
  position: fixed;
  width: 360px;
  z-index: 0;
}

.fixed-btn-pos:disabled {
  display: none;
}

.recommendation-carousel {
  display: grid;
  gap: 1em;
  grid-template-columns: 165px 165px 165px 165px 165px 165px;
  grid-template-rows: 1;
  height: 300px;
  margin: 14px 0 0;
  overflow-x: scroll;
  overflow-y: unset;
  padding-bottom: 90px;
  width: 360px;
}

.recommendation-card {
  align-items: center;
  border: 2px solid var(--secondary-color);
  border-radius: 9px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 190px;
  justify-content: center;
}

.recommendation-card img {
  border: 1px solid var(--secondary-color);
  border-radius: 9px;
  height: 165px;
}

.recommendation-card h3 {
  text-align: center;
  width: 165px;
}

.s-f-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.s-f-button {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0 15px;
  width: 50px;
}

.s-f-button img {
  height: 100%;
  width: 100%;
}

.s-f-container span {
  align-self: center;
}
